{% extends 'main.html' %}

{% block title %}
	<title>{{object.name}}</title>
{% endblock title %}

{% block content %}
<main class="container">
	<div class="grid-product">
		<div class="image-div large-img-div">
			<img src="{{ product.image.url }}" class="cover large-img" />
			
		</div>
		<div class="product-description">
			<div>
				<h1>{{product.name}}</h1>
			</div>
			<div>
				<details open>
					<summary>Description</summary>
					<p>
						{{product.description}}
					</p>
				</details>
			</div>
			<div>
				<button class="contrast hover-eff-btn outline update-item" data-id={{product.id}} data-action="add">
					Add to Cart
				</button>
			</div>
		</div>
	</div>
</main>
{% endblock content %}