{% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number }}" role="button" class="outline">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>        
            {% endif %}
            
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num <= page_obj.number|add:3 and page_num >= page_obj.number|add:-3 %}
                    {% if page_num == page_obj.number %}    
                        <a href="?page={{page_num}}" role="button" class="">{{page_num}}</a>
                    {% else %}
                        <a href="?page={{page_num}}" role="button" class="outline">{{page_num}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number }}" role="button" class="outline">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
{% endif %}